<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 style="margin-top: 60px;">Xóa ảnh</h1>
        <p>Bạn có chắc chắn muốn xóa ảnh?</p>
      
        <div class="clearfix">
          <button type="button" (click)="onDismiss()" class="cancelbtn">Cancel</button>
          <button type="button" (click)="onConfirm()" class="deletebtn">Delete</button>
        </div>
      </div>
</body>
</html>