<div class="container">
    <div class="wrapper">
      <div class="title"><span>Login Form</span></div>
      <form action="#">
        <div class="content-form">
          <div class="input">
            <label>Username</label>
            <input type="text" required>
          </div>
          <div class="input">
            <label>Password</label>
            <input type="password" required>
          </div>
        </div>
        <div class="row button">
          <input type="submit" value="Login">
        </div>
        <div class="signup-link">Not a member? <a routerLink="/admin">Signup now</a></div>
      </form>
    </div>
  </div>